// Override Bootstrap's Sass default variables
//
// Nearly all variables in Bootstrap are written with the `!default` flag.
// This allows you to override the default values of those variables before
// you import Bootstrap's source Sass files.
//
// Overriding the default variable values is the best way to customize your
// CSS without writing _new_ styles. For example, change you can either change
// `$body-color` or write more CSS that override's Bootstrap's CSS like so:
// `body { color: red; }`.


//
// Bring in Bootstrap
//


@import "bootstrap/scss/bootstrap";
@import "bootstrap-table/src/bootstrap-table";
@import "bootstrap-darkmode/darktheme";
//
// Custom styles
//



pre > code {
    color: #e83e8c;
}

.container-fluid {
    width: 80%;
}

#trial-start
{
    position:fixed;
    padding:0;
    margin:0;

    top:0;
    left:0;

    width: 100%;
    height: 100%;
    background:black;
    z-index: 1000;
}